
.wrapper {
  width: 100vw;
  height: 100vh;
  background: #f2eeed;
  position: fixed;
  z-index: 80;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.wrapper svg {
  width: 110px;
  margin-top: -200px;
}

.logo {
  width: 140px;
}
.loader {
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: visible;
}

.loading-text {
  font-size: 13px;
  position: relative;
  top: 12px;
  height: 0px;
  color: black;
}